</div>
<div id="footer" class="dark">
  <div class="pull-left" style="opacity: 0.5;">
      <a href="impressum">Impressum</a>
  </div>
  <div class="pull-left" style="opacity: 0.5;">
      zeean is still <i>beta</i>. <a href="mailto:info@zeean.net">Every feedback is appreciated!</a>
  </div>
  <div class="pull-left">
      Spread the word:&nbsp;
      <a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://zeean.net" target="_blank"><img src="images/facebook.png" height="16px" class="with-tooltip-home" data-title="Facebook" data-placement="top"/></a>&nbsp;&nbsp;
      <a href="http://twitter.com/home?status=zeean%20-%20community%20platform%20to%20understand%20the%20global%20economic%20network%20for%20a%20sustainable%20and%20stable%20world.%20Join,%20Collect%20%26%20Explore%20@ZEEANit" target="_blank"><img src="images/twitter.png" height="16px" class="with-tooltip-home" data-title="Twitter" data-placement="top"/></a>&nbsp;&nbsp;
      <a href="https://plus.google.com/share?url=zeean.net" target="_blank"><img src="images/google.png" height="16px" class="with-tooltip-home" data-title="Google+" data-placement="top"/></a>
  </div>
  <div class="pull-right">
    <a href="mailto:info@zeean.net" class="with-tooltip-home" data-title="Contact us" data-placement="top"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;info@zeean.net</a>
  </div>
  <div class="pull-right">
    <a href="http://twitter.com/zeeanit" target="_blank" class="with-tooltip-home" data-title="Follow zeean on Twitter" data-placement="top"><img src="images/twitter.png" height="16px"/>&nbsp;@ZEEANit</a>
  </div>
</div>

